.navbar-brand {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.7rem;
    font-weight: 600;
    color:grey
}
h1 {
    text-align: left;
    color: white;
    font-family:'Courier New', Courier, monospace;
    font-size: 400%;
    margin-top:20px;
    border-bottom:2px solid white;
}

.bg {
    position: fixed;
    inset: 0;
    background-image: url("bg1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}

#div2 {
  border-radius: 25px;
  border: 2px solid whitesmoke;
  padding: 20px;
  width: 95%;
  height: 85vh;
}

.desc{
    margin-top:20px;
    font-family:'Courier New', Courier, monospace;
    color:white;
    font-size:150%;
}

.profile {
    position: absolute;
    top: 245px;
    right: 150px;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    cursor: pointer;
}

.profile:hover {
    transform: scale(1.05);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.75);
}
.icons a {
    text-decoration: none;
}

.icons ion-icon {
    color: white;
    font-size: 100px;
    margin-top: 70px;
    margin-left: 20px;
    transition: color 0.4s ease, transform 0.4s ease;
}

.icons ion-icon:hover {
    color: rgb(59, 179, 209);
    transform: scale(1.2);
}


